# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# Uploads
uploads/

backend/uploads/*
!backend/uploads/.gitkeep

# Coverage
coverage/

# Docker
docker-data/

# IDE
.vscode/
.idea/